<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @result.date.to_s(:long) %>
</p>

<p>
  <b>Username:</b>
  <%= @result.username %>
</p>

<p>
  <b>Email:</b>
  <%= @result.email %>
</p>

<p>
  <b>Content:</b>
  <ol>
  <%
	questions = ActiveSupport::JSON.decode(@result.content)
	questions.each_with_index do |q, i| %>
	  <li><strong><%= q["text"] %><br /></strong> <%= q["value"].join(", ") %></li>
	<% end %>
  </ol>
</p>


<%= link_to 'Back', results_path %>
<% if @survey %>
| <%= link_to 'See All Results for this Survey', survey_results_path(@survey) %>
<% end %>