<script type="text/javascript">
$(document).ready(function(){
	
	msg = $('.save_message');
	msg.css('opacity', 0);
	
	$('.edit_survey')
	.bind('ajax:before', function(){
		// Display "saving" in-progress status.
		survey_data = generateSurveyData();
		survey_data = JSON.stringify(survey_data);
		
		$("#survey_survey_data").attr("value", survey_data);
		msg.css('background-color', '#FFF6CC').html("Saving...").animate({opacity:1},200)
	})
	.bind('ajax:success', function(){
		// Flash the status.
		msg.css('background-color', '#CCFFCC').html("Saved!").delay(500).animate({opacity:0})
	})
	.bind('ajax:error', function(xhr, status, error){
		// Flash the error and keep it up until re-submitted.
		msg.css('background-color', '#FFCCCC').html("Error: "+status.statusText).css('opacity', 1)
	})
	.bind('ajax:complete', function(){
		// Clean-up if needed.
	});
	
	$('#survey_name').keyup(function(e) {
		// Update the title of the page.
		$('#edit_title').html("Editing survey \""+$('#survey_name').attr("value")+"\"");
	});

});
</script>

<% is_new_form = defined?(new_form) && new_form %>

<%= form_for(@survey, :remote => !is_new_form) do |f| %>
  <div class="save_message">x</div>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> occurred during save:</h2>
      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :survey_data %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 70 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4, :cols => 65 %>
  </div>

  <div class="actions">
    <%= f.submit "Save Survey", :disable_with => "Saving...", :class => "submit_button" %>
  </div>

  <% if !is_new_form %>
    <%= render "survey_editor" %>

	<div class="actions">
		<%= f.submit "Save Survey", :disable_with => "Saving...", :class => "submit_button" %>
	</div>

  <% end %>



  <div class="save_message">x</div>
<% end %>
