<h2>Take Survey "<%= @survey.name %>"</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<p>
  <%= @survey.description %>
</p>

<hr />

<%= render 'surveys/take_form' %>

<hr />

<p>Want to send this survey to your friends? Send them this URL: <strong><%= take_survey_url(@survey) %></strong></p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back to List', surveys_path %>
