<!DOCTYPE html>
<html>
<head>
  <title>SurveyBug</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
<%= yield %>

</div>

<div id="footer">
	<%= link_to "Home", surveys_path %>	 
	| Created by <a href="mailto:trisweb@gmail.com">Tristan Harward</a> 
	for <a href="http://www.socialsci.com">SocialSci</a>
</div>

</body>
</html>
